# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.ent
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nlo
*.out
*.run.xml
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.xdv


# Beamer / presentation outputs
*.nav
*.snm
*.vrb

# Minted / pygments caches
_minted*

# Local build output for this project
apssamp.pdf
apssampNotes.bib
main.pdf
mainNotes.bib

temp/
*.pyc
.matplotlib
database.json
ads_api/*.csv
