code/Data.ipynb
*.aux
*.pdf
*.bbl
*.fls
*.gz
apssamp.blg
apssamp.fdb_latexmk
apssamp.log
code/.ipynb_checkpoints/Data-checkpoint.ipynb
code/for_latex.ipynb
code/.ipynb_checkpoints/for_latex-checkpoint.ipynb
code/timing_data/Test_12_15.txt
code/timing_data/Test_15.log
code/timing_data/Test_25.log
code/timing_data/Test_35.log
code/timing_data/Test_45.log
code/timing_data/Test_55.log
code/timing_data/Test_wheeler_15.log
code/timing_data/Test_wheeler_25.log
code/timing_data/Test_wheeler_35.log
code/timing_data/Test_wheeler_45.log
code/timing_data/Test_wheeler_55.log
code/timing_data/Test_wheeler_60_half.log
code/timing_data/Test_wheeler_65.log
code/timing_data/Test_wheeler_80.log
code/timing_data/Test_wheeler_dggev_15.log
code/timing_data/Test_wheeler_dggev_25.log
code/timing_data/Test_wheeler_dggev_35.log
code/timing_data/Test_wheeler_dggev_45.log
code/timing_data/Test_wheeler_dggev_55.log
code/timing_data/timing_code.txt
code/timing_data/Untitled.ipynb
code/timing_data/.ipynb_checkpoints/Test_15-checkpoint.log
code/timing_data/.ipynb_checkpoints/Test_25-checkpoint.log
code/timing_data/.ipynb_checkpoints/Test_35-checkpoint.log
code/timing_data/.ipynb_checkpoints/Test_45-checkpoint.log
code/timing_data/.ipynb_checkpoints/Test_55-checkpoint.log
code/timing_data/.ipynb_checkpoints/Test_wheeler_25-checkpoint.log
code/timing_data/.ipynb_checkpoints/Test_wheeler_35-checkpoint.log
code/timing_data/.ipynb_checkpoints/Test_wheeler_45-checkpoint.log
code/timing_data/.ipynb_checkpoints/Test_wheeler_55-checkpoint.log
code/timing_data/.ipynb_checkpoints/Test_wheeler_60_half-checkpoint.log
code/timing_data/.ipynb_checkpoints/Test_wheeler_65-checkpoint.log
code/timing_data/.ipynb_checkpoints/Test_wheeler_80-checkpoint.log
code/timing_data/.ipynb_checkpoints/Test_wheeler_dggev_25-checkpoint.log
code/timing_data/.ipynb_checkpoints/timing_code-checkpoint.txt
code/timing_data/.ipynb_checkpoints/Untitled-checkpoint.ipynb
sorsamp.bib
fig_1.eps
fig_2.eps
my.bib
vid_1a.eps
vid_1b.eps
apssampNotes.bib
apssamp.out
